<h1>見込み管理表</h1>
<h2>
    <!-- 前日を表示 --!>
    <%= link_to " << 前日 ", appoints_path(day:@day.prev_day) %>

    <!-- 日付表示 --!>
    <%= l @day, format: :long %>

    <!-- 翌日を表示 --!>
    <%= link_to " 翌日 >>", appoints_path(day:@day.next_day) %>
</h2>

<!-- ユーザー毎のその日のアポを表示 アポがなければ推進--!>
<% @users.each do |user| %>
    <div><%= user.name %></div>
    <% if user.appoints.blank? %>
        <%= link_to "予定を追加", new_appoint_path %>
        推進
    <% else %>
        <%= link_to "予定を追加", new_appoint_path %>
        <div class="wrap_scroll_table">
            <table class="scroll_table table-bordered border-primary">
                <tr>
                    <% user.daily_appoint(@day).each do |appoint| %>
                        <th colspan="2">
                            <%= l appoint.time, format: :short %>
                        </th>
                    <% end %>
                </tr>
                <tr>
                    <% user.daily_appoint(@day).each do |appoint| %>
                        <td>名前</td>
                        <td>
                            <%= appoint.name %>
                        </td>
                    <% end %>
                </tr>
                <tr>
                    <% user.daily_appoint(@day).each do |appoint| %>
                        <td>電話番号</td>
                        <td>
                            <%= appoint.telephone %>
                        </td>
                    <% end %>
                </tr>
                <tr>
                    <% user.daily_appoint(@day).each do |appoint| %>
                        <td>住所</td>
                        <td>
                            <%= appoint.address %>        
                        </td>
                    <% end %>
                </tr>
                <tr>
                    <% user.daily_appoint(@day).each do |appoint| %>
                        <td>区分</td>
                        <td>
                            <%= appoint.kind %>
                        </td>
                    <% end %>
                </tr>
                <tr>
                    <% user.daily_appoint(@day).each do |appoint| %>
                        <td>結果</td>
                        <td>
                            <% if appoint.result %>
                                <div>結果：　<%= appoint.result %></div> 
                                <%= link_to "結果報告を変更", edit_result_appoint_path(appoint) %>
                            <% else %>
                                <%= link_to "結果報告", edit_result_appoint_path(appoint) %>
                            <% end %>
                        </td>
                    <% end %>
                </tr>
            </table>
        </div>
    <% end %>
<% end %>

<div class="msr_box03">
  <div class="cell">
    <div class="ttl">box</div>
    <div class="table">
        <div class="table_row">
            <div class="table_cell">
                名前
            </div>
            <div class="table_cell">
                samplename
            </div>
        </div>
        <div class="table_row">
            <div class="table_cell">
                名前
            </div>
            <div class="table_cell">
                samplename
            </div>
        </div>
        <div class="table_row">
            <div class="table_cell">
                名前
            </div>
            <div class="table_cell">
                samplename
            </div>
        </div>
        <div class="table_row">
            <div class="table_cell">
                名前
            </div>
            <div class="table_cell">
                samplename
            </div>
        </div>
        <div class="table_row">
            <div class="table_cell">
                名前
            </div>
            <div class="table_cell">
                samplename
            </div>
        </div>
    </div>
  </div>
  <div>
    <div class="ttl">box</div>
    <div class="table">
        <div class="table_row">
            <div class="table_cell">
                名前
            </div>
            <div class="table_cell">
                samplename
            </div>
        </div>
        <div class="table_row">
            <div class="table_cell">
                名前
            </div>
            <div class="table_cell">
                samplename
            </div>
        </div>
        <div class="table_row">
            <div class="table_cell">
                名前
            </div>
            <div class="table_cell">
                samplename
            </div>
        </div>
        <div class="table_row">
            <div class="table_cell">
                名前
            </div>
            <div class="table_cell">
                samplename
            </div>
        </div>
        <div class="table_row">
            <div class="table_cell">
                名前
            </div>
            <div class="table_cell">
                samplename
            </div>
        </div>
    </div>
  </div>
</div>