<h1>見込み管理表</h1>
<h2>
    <!-- 前日を表示 --!>
    <%= link_to " << 前日 ", appoints_path(day:@day.prev_day) %>

    <!-- 日付表示 --!>
    <%= l @day, format: :long %>

    <!-- 翌日を表示 --!>
    <%= link_to " 翌日 >>", appoints_path(day:@day.next_day) %>
</h2>



<!-- ユーザー毎のその日のアポを表示 アポがなければ推進--!>
<div class="appoints">
    <% @users.each do |user| %>
        <div class="frame">
            <div class="name"><%= user.name %></div>
            <%= link_to "予定を追加", new_appoint_path, class: "new" %>
            <div class="scroll_parallel">
                <% user.daily_appoint(@day).each do |appoint| %>
                    <div class="appoint">
                        <%= link_to(edit_appoint_path(appoint), class: "box-link") do %>
                            <div class="detail">
                                <h3 class="time"><%= l appoint.time, format: :short %> ~ </h3>
                                <div>
                                    <p>名前: <%= appoint.name %></p>
                                    <p>TEL: <%= appoint.telephone %></p>
                                    <p>住所: <%= appoint.address %></p>
                                    <p>区分: <%= appoint.kind %></p>
                                    <p>結果: <%= appoint.result %></p> 
                                </div>
                                <% if appoint.result %>
                                    <%= link_to "結果を変更", edit_result_appoint_path(appoint), class: "btn btn-primary" %>
                                <% else %>
                                    <%= link_to "結果報告", edit_result_appoint_path(appoint), class: "btn btn-primary" %>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>