<%= form_with model: @event_form, url: events_path, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>


    <!-- 顧客情報 --!>
    <div class="field">
        <div class="head"><%= f.label :施主情報 %></div>
        <%= f.label :姓 %>
        <%= f.text_field :last_name %>
        　<%= f.label :名 %>
        <%= f.text_field :first_name %>
        　<%= f.label :電話番号 %>
        <%= f.text_field :telephone %>
        <!-- 県、市、町、分けた方がいい？ --!>
        <div>
            <%= f.label :住所 %>
            <%= f.text_field :address, class: "address" %>
        </div>
    </div>

    <!-- 施工予定 -->
    <!-- date_field,time_fieldはstring classが扱えないのでオプションで初期値を設定 --!>
    <div class="field">
        <div class="head"><%= f.label :施工日程 %></div>
        <%= f.label :日付 %>
        <%= f.date_field :start_time, value: Date.today %>
        　<%= f.label :工事車 %>
        <%= f.select :car, [["１号車", 1], ["２号車", 2], ["３号車", 3]] %>
        　<%= f.label :開始時間 %>
        <%= f.time_field :start, value: Time.now %>
        　<%= f.label :終了時間 %>
        <%= f.time_field :finish, value: Time.now %>
    </div>

    <!-- 営業担当 --!>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <!-- 商品 --!>
    
    <div class="field">
        <div class="head"><%= f.label :施工内容 %></div>
        <%= f.label :施工名称 %>
        <%= f.collection_select :item_id, Item.all, :id , :name %>
        　<%= f.label :数量 %>
        <%= f.number_field :number %>
        　<%= f.label :金額 %>
        <%= f.number_field :price %>

    <!-- 取扱経路 --!>
        　<%= f.label :取扱経路 %>
        <%= f.collection_select :route_id, Route.all, :id, :name %>
    </div>

    <%= f.submit "追加", class: "btn btn-primary"%>

<% end %>

    