<%= form_with model: @event_form, url: events_path, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>


    <!-- 顧客情報 --!>
    <div class="row g-3">
        <div class="head"><%= f.label :施主情報 %></div>
        <div class="col-md-4">
            <div><%= f.label :姓 %></div>
            <%= f.text_field :last_name %>
        </div>
        <div class="col-md-4">
            <div><%= f.label :名 %></div>
            <%= f.text_field :first_name %>
        </div>
        <div class="col-md-4">
            <div><%= f.label :電話番号 %></div>
            <%= f.text_field :telephone %>
        </div>
            <!-- 県、市、町、分けた方がいい？ --!>
        <div class="col-12">
            <div><%= f.label :住所 %></div>
            <%= f.text_field :address%>
        </div>

        <!-- 施工予定 -->
        <!-- date_field,time_fieldはstring classが扱えないのでオプションで初期値を設定 --!>
        <div class="head"><%= f.label :施工日程 %></div>
        <div class="col-md-3">
            <div><%= f.label :日付 %></div>
            <%= f.date_field :start_time, value: Date.today %>
        </div>
        <div class="col-md-3">
            <div><%= f.label :工事車 %></div>
            <%= f.select :car, [["１号車", 1], ["２号車", 2], ["３号車", 3]] %>
        </div>
        <div class="col-md-3">
            <div><%= f.label :開始時間 %></div>
            <%= f.time_field :start, value: Time.now %>
        </div>
        <div class="col-md-3">
            <div><%= f.label :終了時間 %></div>
            <%= f.time_field :finish, value: Time.now %>
        </div>

        <!-- 営業担当 --!>
        <%= f.hidden_field :user_id, :value => current_user.id %>

        <!-- 商品 --!>

        <div class="head"><%= f.label :施工内容 %></div>
        <div class="col-md-3">
            <div><%= f.label :施工名称 %></div>
            <%= f.collection_select :item_id, Item.all, :id , :name %>
        </div>
        <div class="col-md-3">
            <div><%= f.label :数量 %></div>
            <%= f.number_field :number %>
        </div>
        <div class="col-md-3">
            <div><%= f.label :金額 %></div>
            <%= f.number_field :price %>
        </div>

        <div class="col-md-3">
            <!-- 取扱経路 --!>
            <div><%= f.label :取扱経路 %></div>
            <%= f.collection_select :route_id, Route.all, :id, :name %>
        </div>

        <%= f.submit "追加", class: "btn btn-primary col-md-4"%>
    </div>

<% end %>

    