<div class="achieve">
    <h1>実績</h1>
    <!-- パラメータにofficeを渡して、営業所別のページを表示 --!>
    <% @offices.each do |office| %>
        <%= link_to "#{office.name}", achievements_events_path(office: office.id) %>
    <% end %>
    <h2><%= @office.name %>営業所</h2>
    <h3>当日受注表</h3>
    <div class="scroll_parallel">
        <table class="table">
            <tr>
                <th>名前</th>
                <th>当日売上</th>
                <th>月累計</th>
                <th>目標</th>
                <th>不足</th>
                <th>目標達成率</th>
            </tr>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.today_achievement %></td>
                    <td><%= user.monthly_achievement(Date.today) %></td>
                    <td><%= user.monthly_target(Date.today.year, Date.today.month) %></td>
                    <td><%= user.monthly_short(Date.today, Date.today.year, Date.today.month) %></td>
                    <td><%= user.monthly_rate(Date.today, Date.today.year, Date.today.month) %>%</td>
                </tr>
            <% end %>
            <tr>
                <td>全体</td>
                <td>
                    <%= @users.map{ |user| user.today_achievement }.sum %>
                </td>
                <td>
                    <%= @users.map{ |user| user.monthly_achievement(Date.today) }.sum %>
                </td>
                <td><%= Target.find_by(office_id: @office.id, year: 2022).attributes["tr_#{Date.today.month}"] %></td>
                <td>
                    <%= @users.map{ |user| user.monthly_achievement(Date.today) }.sum -
                        Target.find_by(office_id: @office.id, year: 2022).attributes["tr_#{Date.today.month}"] %>
                </td>
                <td>
                    <%= ((@users.map{ |user| user.monthly_achievement(Date.today) }.sum.to_f /
                    Target.find_by(office_id: @office.id, year: 2022).attributes["tr_#{Date.today.month}"])* 100).floor(2) %>%
                </td>

            </tr>
        </table>
    </div>
</div>