<div>
    <%= week_calendar do |date| %>
        <%= date.day %> 
        (<%= t('date.abbr_day_names')[date.wday] %>) <!-- 曜日名の表示 -->
        <%= holiday_name(date) if holiday_check(date) %> <!-- 祝日なら祝日名を表示 -->
    <% end %>
</div>
<div>
    <%= month_calendar do |date| %>
        <%= date.day %> 
        (<%= t('date.abbr_day_names')[date.wday] %>) <!-- 曜日名の表示 -->
        <%= holiday_name(date) if holiday_check(date) %> <!-- 祝日なら祝日名を表示 -->
    <% end %>
</div>