

<div class="event-form">
    <details>
        <summary class="folding">施工予定を追加する</summary>
            <%= form_with url: new_event_path, method: :get, local: true do |f| %>
                <div class="row g-3">
                    <div class="col-md-3">
                        <div><%= f.label :日付 %></div>
                        <%= f.date_field :start_time, value: Date.today %>
                    </div>
                    <div class="col-md-3">
                        <div><%= f.label :工事車 %></div>
                        <%= f.select :car, [["１号車", 1], ["２号車", 2], ["３号車", 3]] %>
                    </div>
                    <div class="col-md-3">
                        <div><%= f.label :開始時間 %></div>
                        <%= f.time_field :start, value: "09:00", pattern: "[0-9]{2}:[0-9]{2}" %>
                    </div>
                    <div class="col-md-3">
                        <div><%= f.label :終了時間 %></div>
                        <%= f.time_field :finish, value: "11:00", pattern: "[0-9]{2}:[0-9]{2}" %>
                    </div>
                    <div class="col-md-3">
                        <%= f.submit "施工内容の入力へ", class: "btn btn-primary"%>
                    </div>
                </div>
            <% end %>
        </summary>
    </details>
</div>




<h3>施工予定表</h3>
<%= week_calendar events: @events do |date, events| %>
    <div>
        <%= date.day %>
        (<%= t('date.abbr_day_names')[date.wday] %>) <!-- 曜日名の表示 -->
    </div>
    <div><%= holiday_name(date) if holiday_check(date) %></div> <!-- 祝日なら祝日名を表示 -->
<% end %>

<%= month_calendar events: @events do |date, events| %>
    <%= date.day %> 
    (<%= t('date.abbr_day_names')[date.wday] %>) <!-- 曜日名の表示 -->
    <%= holiday_name(date) if holiday_check(date) %> <!-- 祝日なら祝日名を表示 -->
<% end %>
