<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: '前週'), calendar.url_for_previous_view %>
    <span class="calendar-title"><%= start_date.year %>年 <%= t('date.month_names')[start_date.month] %> </span>
    <%= link_to t('simple_calendar.next', default: '次週'), calendar.url_for_next_view %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th width="50">日付</th>
        <% cars.each do |car| %>
          <th><%= car %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <% week.each do |day| %>
          <tr>
            <% 4.times do |n| %>   <!-- 曜日日付を列で表示するため  -->
              <% if n == 0 %>   <!-- 曜日日付を列で表示するため  -->

                <% if holiday_check(day) %><!-- 祝日判定 --!>
                  <%= content_tag :td, class: [ calendar.td_classes_for(day), "holiday" ] do %>
                    <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                      <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                    <% else %>
                      <!-- sorted_eventを削除しeventを表示しない --!>
                      <% passed_block.call day, [] %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                    <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                      <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                    <% else %>
                      <!-- eventを表示しない --!>
                      <% passed_block.call day, [] %>
                    <% end %>
                  <% end %>
                <% end %>

              <% else %>
              <!-- event表示用 --!>
                <%= content_tag :td, class: "car#{n}" do %>
                  <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                    <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                  <% else %>
                    <!-- select{|e|e.car==n}で施工車ごとのevent表示をする --!>
                    <% unless sorted_events.fetch(day, []).select{|e|e.car==n}.blank? %>
                      <% sorted_events.fetch(day, []).select{|e|e.car==n}.each do |event| %>
                        <div class="event">
                          <div class="item">
                            <% event.orders.each do |order| %>
                              <%= order.item.name %>
                              <%= order.number %>
                              <%= order.item.unit %>
                              <%= order.price %>
                            <% end %>
                          </div>
                          <div class="customer">
                            <%= event.customer.last_name %>
                            　営業:<%= event.user.name %>
                          </div>
                          <div class="place">
                            <%= event.customer.address %>
                          </div>
                          <div class="time">
                            <%= l event.start, format: :short %>
                            <%= "-" %>
                            <%= l event.finish, format: :short %>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>

              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
