<div class="achieve">
    <h1>実績</h1>
    <!-- パラメータにofficeを渡して、営業所別のページを表示 --!>
    <% @offices.each do |office| %>
        <%= link_to "#{office.name}", achievements_path(office: office.id) %>
    <% end %>
    <h2><%= @office.name %>営業所</h2>
    <h3><%= @month %>月 当日受注表</h3>
    <%= form_with url: achievements_path, method: :get do |f| %>
        <%= select_month @month %>
        
        <%= f.submit "移動", class: "btn btn-primary" %>
    <% end %>
    
    <div class="scroll_parallel">
        <table class="table">
            <tr>
                <th>名前</th>
                <th>当日売上</th>
                <th>月累計</th>
                <th>目標</th>
                <th>不足</th>
                <th>目標達成率</th>
            </tr>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.today_achievement %></td>
                    <td><%= user.monthly_achievement(@year, @month) %></td>
                    <td><%= user.monthly_target(@year, @month) %></td>
                    <td><%= user.monthly_short(@year, @month) %></td>
                    <td><%= user.monthly_rate(@year, @month) %>%</td>
                </tr>
            <% end %>
            <tr>
                <td>全体</td>
                <td><%= today_office %></td>
                <td><%= monthly_office %></td>
                <td><%= monthly_target_office %></td>
                <td><%= monthly_short_office %></td>
                <td><%= monthly_rate_office %>%</td>
            </tr>
        </table>
    </div>

    <h3><%= @year %>年 年間実績</h3>
    <div class="scroll_parallel">
        <table class="table">
            <tr>
                <th>名前</th>
                <th>実績</th>
                <th>目標</th>
                <th>不足</th>
                <th>目標達成率</th>
            </tr>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.annual_achievement(@year) %></td>
                    <td><%= user.annual_target(@year).all %></td> 
                    <td><%= user.annual_short(@year) %></td>
                    <td><%= user.annual_rate(@year) %>%</td>
                </tr>
            <% end %>
            <tr>
                <td>全体</td>
                <td><%= annual_achievement_office(@year) %></td>
                <td><%= annual_target_office(@year).all %></td>
                <td><%= annual_short_office(@year) %></td>
                <td><%= annual_rate_office(@year) %>%</td>
            </tr>
        </table>
    </div>
</div>